{% extends "base.html" %} {% block content %}


<form action="/add-move" method="post">
    <div id="form">
        <div class="flexform">
            <label for="name1">Name - Player 1:</label>
            <input type="text" name="name1" id="name1">
        </div>
        <div class="flexform">
            <label for="moves2">Move:</label>
            <select name="moves1" id="moves1">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
      </select>
        </div>
        <div class="flexform">
            <input type="checkbox" id="computer" name="computer" value='computer'>
            <label for="computer">V.S Computer?</label>
        </div>
        <div class="flexform">
            <label for="name2">Name - Player 2:</label>
            <input type="text" name="name2" id="name2">
        </div>
        <div class="flexform">
            <label for="moves2">Move:</label>
            <select name="moves2" id="moves2">
        <option value="none">     </option>
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
        </div>
    </div>
    <input type="submit" value="Submit" id='submit'>
</form>

{% endblock %}